<!-- Navigation Acheteur -->
<ul class="navbar-nav me-auto">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'buyer_dashboard' %}">
            <i class="bi bi-house me-1"></i>Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'transaction_create' %}">
            <i class="bi bi-plus-circle me-1"></i>Nouvelle transaction
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'buyer_transactions' %}">
            <i class="bi bi-list-ul me-1"></i>Mes transactions
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'buyer_disputes' %}">
            <i class="bi bi-exclamation-triangle me-1"></i>Mes litiges
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'payment_methods' %}">
            <i class="bi bi-credit-card me-1"></i>Paiements
        </a>
    </li>
</ul>